<!doctype html>
<html lang="en" x-ng-app="todoApp">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.min.js"></script>
<script src="angular-app.js"></script>

</head>
<body>
	<div x-ng-controller="TodoListController as todoList">

		<select x-ng-options="item.name for item in todoList.venues"
			x-ng-model="todoList.venue">
			<option value="">--new--</option>
		</select>

		<form x-ng-submit="todoList.addTodo()">
			<input type="text" x-ng-model="todoList.venue.name" size="30"
				placeholder="Name">
			<button x-ng-click="todoList.saveVenue()">save</button>
			<button x-ng-click="todoList.deleteVenue()">delete</button>
		</form>
		<pre>{{todoList.venue | json}}</pre>
	</div>
</body>
</html>